.button {
  display: block;
  width: 100%;
  height: 40px;
  color: #333333;
  border: none;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(153, 153, 153, 0.5);
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #ffffff;
  outline-color: #1976d2;
}